<div class="container">
  <footer class="footer">
    <small>Created 
    by <em><a href="http://www.github.com/kwin555">Kevin Nguyen</a></em>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>